@charset "UTF-8";

/*コンテンツ全体に対する指定*/
html {
    font-size: 100%;
}
body {
    font-family: 'M PLUS 1p', sans-serif;
    color: #4D4D4D;
}
main {
    min-height: calc(100vh - 80px - 70px);
}
.wrapper {
    margin: 0;
    padding: 0 4%;
}

.page_header {
    height: fit-content;
    padding: 20px 30px;
    background-color: #4D4D4D;
}
.logo {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.login_info {
    margin-right: 20px;
    align-items: center;
    display: flex;
}
.login_info p {
    margin-right: 10px;
    font-size: 1rem;
    color: #ffffff;
}
.header_logout_button {
    align-items: center;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}
.header_login_button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}
.index_header {
    background-color: #000000;
    color: #CCCCCC;
    font-size: 1.2rem;
}
.home_icon {
    color: #FFFFFF;
    font-size: 30px;
}
.page_footer {
    height: 70px;
    background-color: #D2D2D2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color: #ffffff;
    font-size: 1rem;
}
.errors {
    margin: 10px 0;
}
.errors li {
    margin-top: 5px;
    color: #ec008c;
    text-align: center;
    list-style: none;
}

textarea.form-control::placeholder,
input.form-control::placeholder,
::placeholder {
    color: #c7c7c7;
}

/* upload.php */
.content_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload_content_form {
    width: 50%;
}
.upload_description {
    width: 50%;
    padding: 10px;
    margin: 50px 0;
    min-width: 300px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.form_flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload_content_label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    color: #ced4da;
}
.plus_icon {
    display: inline-block;
    font-size: 50px;
}
.input_file {
    display: none;
}
.input_text {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 10px;
}

.upload_content_label img {
    width: 100%;
    object-fit: cover;
}
.input_text::placeholder {
    color: #c2c1c1;
}

.upload_submit {
    display: block;
    margin-top: 10px;
    border-radius: 50rem 50rem;
    font-size: 1.5rem;
    padding: 30px 100px;
    background: #626262;
    color: #ffffff;
    transition: 0.3s;
    margin: 30px auto;
}

.update_button {
    display: block;
    margin-top: 10px;
    border-radius: 18px;
    font-size: 18px;
    padding: 5px 30px;
    background: #626262;
    color: #ffffff;
    margin-left: auto;
    transition: 0.3s;
}
.upload_submit:hover,
.update_button:hover {
    background: #e8e8e8;
    color: #626262;
}
.form_btn {
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 30px;
    background: #3b62ff;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.main_headline p {
    font-size: 1.5rem;
    font-weight: 600;
}

.form_text {
    word-wrap: break-word;
    white-space: pre;
    background-color: #ffffff6c;
}
.jumbotron_head {
    background: url('../common/images/main.jpg') center no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}
.jumbotron_head p {
}

/* index.php */
.idnex_main {
    display: flex;

}
.left_content {
    width: 300px;
    border-right: 1px solid #999999;
    padding: 0px 5px;
}
.right_content {
    width: 100%;
}

.group_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.article {
    margin: 5% 0;
}
.group_wrap {
    margin-bottom: 20px;
}

.photo {
    margin-top: 30px;
    border-top: 1px solid #999999;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.grid_item {
    margin: 20px 5px;
    font-size: 0.8rem;
}
.grid_item p {
    padding: 0 10px;
    font-size: 10px;
}
.grid_item img {
    height: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #4D4D4D;
    border: 1px solid #eae7e7;
    border-radius: 50%;
    box-shadow: 1px 1px #00000080;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
}

.input_wrap {
    display: flex;
}
.input_wrap label {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input_item {
    border: #999999 solid 1px;
    margin: 5px;
    font-size: 0.6rem;
    width: 200px;
}

.tgl_btn {
    margin-top: 5px;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 5px;
    background: #909090;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
    margin-right: auto;

}
.tgl_btn:hover {
    background: #e4e4e4;
    color: #909090;
}

.dowmload_btn {
    background: #000000;
    color: #ffffff;
}
.dowmload_btn:hover {
    background: #e4e4e4;
    color: #909090;
}

/* show.php */
.content {
    width: 50%;
    margin: 0 auto;
}
.main_content img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.edit_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #39B54A;
    text-decoration: none;
    color: #FFFFFF;
}
.delete_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #CCCCCC;
    margin-left: 10px;
    color: #FFFFFF;
}

/* signup.php */
.signup_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    padding: 50px;
}
.signup_title {
    text-align: center;
}
.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
}
.button_area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.signup_button,
.login_button {
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
}
.login_page_button,
.signup_page_button {
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
}

/* login.php */
.login_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    padding: 50px;
}
.login_title {
    text-align: center;
    margin-bottom: 30px 0 10px;
}
.login_button {
    border-radius: 30px;
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem
}
.signup_page_button {
    border-radius: 30px;
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

/* レスポンシブ */
@media (max-width: 900px) {
    /* upload.php */
    .upload_content_form {
        width: 70%;
    }
    /* show.php */
    .content {
        width: 70%;
    }
}

@media (max-width: 600px) {
    /* upload.php */
    .upload_content_form {
        width: 90%;
    }
    /* show.php */
    .content {
        width: 90%;
    }
    /* signup.php */
    .signup_content {
        width: 70%;
    }
    .button_area {
        margin-top: 15px;
        flex-direction: column;
    }
    .signup_button {
        width: 100%;
        padding: 10px;
    }
    .login_page_button {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        padding: 10px;
    }
    /* login.php */
    .login_content {
        width: 70%;
    }
    .login_button {
        width: 100%;
        padding: 10px;
    }
    .signup_page_button {
        text-align: center;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
    }
}
